<div class="reset-password-container">
  <mat-card class="reset-password-card" *ngIf="isValidToken; else tokenError">
    <mat-card-header>
      <mat-card-title>Сброс пароля</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Новый пароль</mat-label>
          <!-- Тип меняется в зависимости от значения hidePassword -->
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword" placeholder="Введите новый пароль">
          <!-- Кнопка в конце поля ввода для переключения видимости -->
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="full-width" [disabled]="isLoading">
          Обновить пароль
        </button>
      </form>
      <div *ngIf="message" class="message">{{ message }}</div>
    </mat-card-content>
  </mat-card>
  <ng-template #tokenError>
    <mat-card class="reset-password-card">
      <mat-card-content>
        <div class="message">
          Токен недействителен, уже использован или истёк. Пожалуйста, запросите сброс пароля повторно.
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
