.category-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


.full-width {
  width: 100%;
}

.error-message {
  color: red;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
}
