<div class="forgot-password-container">
  <mat-card class="forgot-password-card">
    <mat-card-header>
      <mat-card-title>Восстановление пароля</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="forgot-password-input">
          <mat-label>Электронная почта</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="example@mail.com" />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="forgot-password-button"
          [disabled]="isLoading">
          Отправить
        </button>
      </form>
      <div class="back-to-login">
        <a routerLink="/login">Вернуться к входу</a>
      </div>
    </mat-card-content>
    <mat-card-footer *ngIf="message">
      <p class="message">{{ message }}</p>
    </mat-card-footer>
  </mat-card>
</div>
